@model Site.Models.TourInputModel

@{
    Layout = "";
    ViewBag.Title = "Resounding Tournaments Tour";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.cookie.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/bootstrap.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/bootstrap-transition.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/bootstrap-modal.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/require.js")"></script>

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/style.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/bootstrap.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/bootstrap-responsive.css")" />

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-30184511-4']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body>
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="/">Resounding Tourney</a>
                <div class="nav-collapse collapse">
                    <ul class="nav pull-right">
                        <li>
                            <a class="login" href=""><i class="icon-user"></i>Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <header>
        <div class="hero-unit logo">
            <h1>Hastings Invitational</h1>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
                <div class="row-fluid" id="game-container">
                    <div class="span12 not-started-game game1">
                        <h2>Game #1</h2>
                        Team #1 vs. Team #2
                        <br />
                        8:00 AM - Gym A
                    </div>
                    <div class="span12 not-started-game">
                        <h2>Game #2</h2>
                        Team #3 vs. Team #4
                        <br />
                        8:00 AM - Gym B
                    </div>
                    <div class="span12 not-started-game">
                        <h2>Game #3</h2>
                        Team #5 vs. Team #6
                        <br />
                        9:00 AM - Gym A
                    </div>
                    <div class="span12 not-started-game">
                        <h2>Game #4</h2>
                        Team #7 vs. Team #8
                        <br />
                        9:00 AM - Gym B
                    </div>
                    <div class="span12 not-started-game">
                        <h2>Game #5</h2>
                        Team #1 vs. Team #2
                        <br />
                        8:00 AM - Gym A
                    </div>
                    <div class="span12 not-started-game">
                        <h2>Game #6</h2>
                        Team #3 vs. Team #4
                        <br />
                        8:00 AM - Gym B
                    </div>
                    <div class="span12 not-started-game">
                        <h2>Game #7</h2>
                        Team #5 vs. Team #6
                        <br />
                        9:00 AM - Gym A
                    </div>
                    <div class="span12 not-started-game">
                        <h2>Game #8</h2>
                        Team #7 vs. Team #8
                        <br />
                        9:00 AM - Gym B
                    </div>
                </div>
            </div>
            <div class="span3">
                <div class="row-fluid">
                   <div class="span12 not-started-game">
                        <h2>Game #9</h2>
                        Team #1 vs. Team #2
                        <br />
                        8:00 AM - Gym A
                    </div>
                    <div class="span12 not-started-game">
                        <h2>Game #10</h2>
                        Team #3 vs. Team #4
                        <br />
                        8:00 AM - Gym B
                    </div>
                    <div class="span12 not-started-game">
                        <h2>Game #11</h2>
                        Team #5 vs. Team #6
                        <br />
                        9:00 AM - Gym A
                    </div>
                    <div class="span12 not-started-game">
                        <h2>Game #12</h2>
                        Team #7 vs. Team #8
                        <br />
                        9:00 AM - Gym B
                    </div>
                </div>
            </div>
            <div class="span3">
                <div class="row-fluid">
                    <div class="span12 not-started-game">
                        <h2>Semi-Final #1</h2>
                        Team #1 vs. Team #2
                        <br />
                        8:00 AM - Gym A
                    </div>
                    <div class="span12 not-started-game">
                        <h2>Semi-Final #2</h2>
                        Team #3 vs. Team #4
                        <br />
                        8:00 AM - Gym B
                    </div>
                </div>
            </div>
            <div class="span3">
                <div class="row-fluid">
                    <div class="span12 not-started-game">
                        <h2>Finals</h2>
                        Team #1 vs. Team #2
                        <br />
                        8:00 AM - Gym A
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modals -->
    <div class="welcome modal hide fade">
        <div class="modal-header">
            <h1>Welcome!</h1>
        </div>
        <div class="modal-body">
            <p class="lead">Welcome to Resounding Tournaments, a web-based and mobile-friendly application
            to host your tournaments and leagues.</p>
            <p>We're still in the building process, but you can take a tour of some of the features.
            </p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-primary" data-dismiss="modal">Start the Tour &gt;&gt;</a>
        </div>
    </div>
    <!-- Tooltips -->
    <div class="setup-tooltip hide">
        <p>The first thing you'll do is set up your tournament with teams and a schedule.</p>
        <p>For this tour, that's been done for you.</p>
        <br />
        <p><button class="btn btn-primary pull-right">Next >></button></p>
    </div>
    <div class="login-tooltip hide">
        <p>In order to administer your tournament, you'll need to log in.</p>
        <p>You'll be able to log in using your Facebook account, or a username and password.</p>
        <br />
        <p><button class="btn btn-primary pull-right">Next >></button></p>
    </div>
    <div class="scoring-tooltip hide">
        <p>Once you're logged in, you can start scoring games, and here's where the excitement really happens.</p>
        <p>If you have your mobile phone handy, scan the QR code below.</p>
            <a href="/tours/mobile/?tourId=@Model.TourId" target="_blank">
                <img alt="/tours/mobile/?tourId=@Model.TourId" 
                     src="https://chart.googleapis.com/chart?cht=qr&chs=100x100&chl=http://tourney.resounding.ca/tours/mobile/?tourId=@Model.TourId" />
            </a>
        <br />
        <div class="alert alert-info nophone" style="visibility: hidden">
            <strong>Phone not handy?</strong>Click here to open the scoring screen in a new browser window: 
            <button class="btn">Start scoring</button>
        </div>
    </div>
    <div class="game-on-tooltip hide">
        <p>Now the game is underway!</p>
        <p>You can keep scoring until the game is over.</p>
        <br />
        <p><button class="btn btn-primary pull-right">Next >></button></p>
    </div>
    <div class="game-over-tooltip modal hide">
        <div class="modal-header">
            <h1>Keep in Touch</h1>
        </div>
        <div class="modal-body">
            <p class="lead">And that's it; thanks for playing.</p>
            <p>If you'd like us to keep you up to date with our progress, enter your e-mail address below.
            If you have comments, you can leave those as well.</p>
            <form class=".form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="email">Email Address</label>
                    <div class="controls">
                      <input type="text" class="input-xlarge" id="email" placeholder="Email Address" />
                    </div>
              </div>
                <div class="control-group">
                    <label class="control-label" for="comments">Comments</label>
                    <div class="controls">
                      <textarea class="input-xlarge" id="comments" rows="3"></textarea>
                    </div>
              </div>
              <div class="form-actions">
                <button type="submit" class="btn btn-primary">Keep me posted</button>
                <button class="btn" data-dismiss="modal">No thanks</button>
              </div>
            </form>
        </div>
    </div>

    <script type="text/javascript">
    require.config({
        baseUrl: 'Content/js'
    });
    require(['tourney-tour!'], function(View) {  
        new View({ tourId: @Model.TourId });
    });
    </script>
</body>
</html>